---
import { getCollection } from 'astro:content';
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
import { basename, extname } from 'node:path';

import Pagination from '~components/Pagination';

import RatingsGraph from './RatingsGraph.astro';
import ReadBook from './ReadBook.astro';

import styles from './styles.module.css';

export interface Props {
  page: number;
  rating: number;
}

dayjs.extend(utc);

const { page, rating } = Astro.props;

export const PER_PAGE = 15;
const allBooks = (await getCollection('books', (book) => !!book.data.finishedAt && book.data.rating === rating)).toSorted((a, b) => dayjs.utc(b.data.finishedAt).diff(a.data.finishedAt, 'day'));

const pages = Math.ceil(allBooks.length / PER_PAGE);
const books = await Promise.all(
  allBooks.slice((page - 1) * PER_PAGE, (page) * PER_PAGE)
    .map(async (book) => {
      const { Content} = await book.render();
      return {...book, Content };
    }),
  );
---

<div class={styles.read}>
  <h3>Books I've Rated {rating} / 5</h3>

  <RatingsGraph />

  <ul class={styles.books}>
    {!books.length && <p class={styles.empty}>No books rated {rating} / 5. Now, isn't that interesting?</p>}
    {books.map(({ Content, body, id: slug, data }) => (
      <ReadBook book={data} hasReview={!!body} slug={basename(slug, extname(slug))}><Content /></ReadBook>
    ))}
  </ul>

  <Pagination page={page} pages={pages} path={`/reading/by-rating/${rating}/`} />
</div>
