---
import { createMarkdownProcessor } from '@astrojs/markdown-remark';
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import { getCollection } from 'astro:content';
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
import { type ComponentType, Fragment } from 'preact';

import BaseLayout from '../../layouts/BaseLayout.astro';

import Post from './Post';

import styles from './Page.module.css';

dayjs.extend(utc);
export interface Props {
  class?: string | undefined;
  page: number;
}

const { class: className, page } = Astro.props as Props;

export const PER_PAGE = 3;

const posts = await getCollection('posts');

const more = posts.length >= (page + 1) * PER_PAGE;

const mdParser = await createMarkdownProcessor();

const parseMd = async (source: string, _id: string) => mdParser.render(source);

const renderedPosts = await Promise.all(
  posts
    .toSorted(({ data: { date: a } }, { data: { date: b } }) => dayjs(b).diff(a))
    .slice(page * PER_PAGE, (page + 1) * PER_PAGE)
    .map(async (post) => {
      const isMdx = post.id.endsWith('.mdx');
      let Content: AstroComponentFactory | ComponentType = () => null;
      let html: string | null = null;
      if (isMdx) {
        if (post.data.preview) html = post.data.preview;
      } else if (post.body.includes('<!--more-->')) {
        const [teaser] = post.body.split(/(<!--more-->|\{\/\* ?more ?\*\/\})/);
        const resp = await parseMd(teaser!, post.id);
        const { code: value } = resp;
        // Manually replace footnote links with links to anchors in the blog post itself
        html = value
          .toString()
          .replace(/\[\^(\d+)\]/g, (_, n) => `<sup><a href="/blog/${post.slug}#user-content-fn-${n}">${n}</a></sup>`);
      } else {
        ({ Content } = await post.render());
      }

      return {
        ...post,
        Content,
        html,
      };
    }),
);

const pages = Array.from({ length: Math.ceil(posts.length / PER_PAGE) - 2 }, (_, i) => i + 1);
---

<BaseLayout class={className} title={page === 0 ? 'Home' : 'Blog'}>
  {
    renderedPosts.map(({ data: { title, date }, html, Content, slug }, i) => (
      <Fragment key={slug}>
        {i !== 0 && <hr />}
        <Post title={title} titleElement="h2" posted={date} href={`/blog/${slug}`}>
          {html ? (
            <>
              <Fragment set:html={html} />
              <a class={styles.readMore} href={`/blog/${slug}`}>
                Read more&hellip;
              </a>
            </>
          ) : (
            <Content />
          )}
        </Post>
      </Fragment>
    ))
  }
  <div class={styles.pageNav}>
    {page > 0 && <a href={page === 1 ? '/' : `/blog/${page - 1}`}>&#9666; Previous</a>}
    {pages.map((n) => <a href={`/blog/${n}`}>{n}</a>)}
    {more && <a href={`/blog/${page + 1}`}>Next &#9656;</a>}
  </div>
</BaseLayout>
