---
import { getCollection } from 'astro:content';
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
import { unified } from 'unified';
import remarkParse from 'remark-parse';
import rehype from 'remark-rehype';
import rehypeStringify from 'rehype-stringify';
import { Fragment, type ComponentType } from 'preact';
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';

import Post from './Post';
import BaseLayout from '../../layouts/BaseLayout.astro';

import styles from './Page.module.css';

dayjs.extend(utc);
export interface Props {
  class?: string | undefined;
  page: number;
}

const { class: className, page } = Astro.props as Props;

export const PER_PAGE = 3;

const posts = await getCollection('posts');

const more = posts.length >= (page + 1) * PER_PAGE;

const renderedPosts = await Promise.all(
  posts
    .toSorted(({ data: { date: a } }, { data: { date: b } }) => dayjs(b).diff(a))
    .slice(page * PER_PAGE, (page + 1) * PER_PAGE)
    .map(async (post) => {
      let Content: AstroComponentFactory | ComponentType = () => null;
      let html: string | null = null;
      if (post.body.includes('<!--more-->') || post.body.includes('{/* more */}')) {
        const [teaser] = post.body.split(/(<!--more-->|\{\/\* more \*\/\})/);
        // TODO: remark plugins are showing type mismatches and I don't feel like dealing with it right now
        // @ts-ignore
        const { value } = await unified().use(remarkParse).use(rehype).use(rehypeStringify).process(teaser);
        // Manually replace footnote links with links to anchors in the blog post itself
        html = value
          .toString()
          .replace(/\[\^(\d+)\]/g, (_, n) => `<sup><a href="/blog/${post.slug}#user-content-fn-${n}">${n}</a></sup>`);
      } else {
        ({ Content } = await post.render());
      }

      return {
        ...post,
        Content,
        html,
      };
    }),
);
---

<BaseLayout class={className} title={page === 0 ? 'Home' : 'Blog'}>
  {
    renderedPosts.map(({ data: { title, date }, html, Content, slug }) => (
      <Post title={title} titleElement="h2" posted={date} href={`/blog/${slug}`}>
        {html ? (
          <>
            <Fragment set:html={html} />
            <a class={styles.readMore} href={`/blog/${slug}`}>
              Read more&hellip;
            </a>
          </>
        ) : (
          <Content />
        )}
      </Post>
    ))
  }
  {page > 0 && <a href={page === 1 ? '/' : `/blog/${page - 1}`}>Previous page</a>}
  {more && <a href={`/blog/${page + 1}`}>Next page</a>}
</BaseLayout>
