---
import '../styles/global.css';

import clsx from 'clsx';

import Footer from '~components/Footer/index.astro';
import Header from '~components/Header/index.astro';

import cssVariables from '../shared/variables.module.css';

export interface Frontmatter {
  title: string;
  icon: string;
  order?: number;
  description?: string;
};

type ConditionalProps =
  | {
      url: string;
      frontmatter: Frontmatter;
    }
  | ({
      request?: {
        pathname: string;
      };
      frontmatter?: never;
    } & Frontmatter);

export type Props = ConditionalProps & {
  class?: string | undefined;
};

let pathname: string;
const { class: className } = Astro.props;
const { title, description } = Astro.props.frontmatter ?? Astro.props;
if (Astro.props.frontmatter) {
  ({ url: pathname } = Astro.props);
} else if (Astro.props.request) {
  ({ pathname } = Astro.props.request);
} else {
  pathname = '/';
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />

    {import.meta.env.PROD && (
      <>
        <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-HXDEJNG2F6" />
        <script is:inline>
window.dataLayer = window.dataLayer || [];

function gtag() {
  // eslint-disable-next-line prefer-rest-params
  dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'G-HXDEJNG2F6');
</script>
      </>
    )}

    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,600;1,300&family=DM+Serif+Display&display=swap"
      rel="stylesheet"
    />
    <meta name="theme-color" content={cssVariables.light} />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content={cssVariables.dark} />
    <title>Ben Saufley - {title}</title>
    <meta name="description" content={description ?? 'Personal website for Ben Saufley, a software engineer and illustrator from Portland, Maine.'} />
    <!-- web components -->
    <script>
      import Spoiler from '~components/webComponents/Spoiler';

      Spoiler.register();
    </script>
    <!-- end web components -->
  </head>
  <body class={clsx(className)}>
    <Header currentPath={pathname} />

    <main>
      <slot />
    </main>
    <Footer />
    <!-- scroll listener -->
    <script>
      import throttle from '~lib/throttle';

      const scrollListener = throttle(
        () => {
          Array.from(document.querySelectorAll('.sticky')).forEach((el) => {
            if (Math.floor(el.getBoundingClientRect().top) <= 0) {
              el.classList.add('stuck');
            } else {
              el.classList.remove('stuck');
            }
          });
        },
        25,
        true,
      );

      scrollListener();

      window.addEventListener('scroll', scrollListener);
    </script>
    <!-- end scroll listener -->
  </body>
</html>
