---
import clsx from 'clsx';

import '../styles/global.css';

import Header from '../components/Header/index';
import cssVariables from '../shared/variables.module.css';

type ConditionalProps =
  | {
      request?: {
        pathname: string;
      };
      frontmatter?: never;
    }
  | {
      url: string;
      frontmatter: {
        title: string;
      };
    };

export type Props = ConditionalProps & {
  title: string;
  class?: string | undefined;
};

let pathname: string;
const { class: className } = Astro.props;
const { title } = Astro.props.frontmatter ?? Astro.props;
if (Astro.props.frontmatter) {
  ({ url: pathname } = Astro.props);
} else if (Astro.props.request) {
  ({ pathname } = Astro.props.request);
} else {
  pathname = '/';
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,600;1,300&family=DM+Serif+Display&display=swap"
      rel="stylesheet"
    />
    <meta name="theme-color" content={cssVariables.light} />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content={cssVariables.dark} />
    <title>Ben Saufley - {title}</title>
  </head>
  <body class={clsx(className)}>
    <Header currentPath={pathname} />

    <main>
      <slot />
    </main>
    <footer class="pageFooter">
      <p>©{new Date().getFullYear()} <a href="/contact">Ben Saufley</a></p>
    </footer>
    <script>
      import throttle from '../lib/throttle';

      const scrollListener = throttle(
        () => {
          console.log('scroll');
          Array.from(document.querySelectorAll('.sticky')).forEach((el) => {
            console.log(el.getBoundingClientRect().top);
            if (Math.floor(el.getBoundingClientRect().top) <= 0) {
              el.classList.add('stuck');
            } else {
              el.classList.remove('stuck');
            }
          });
        },
        25,
        true,
      );

      scrollListener();

      window.addEventListener('scroll', scrollListener);
    </script>
  </body>
</html>
